li
{
	display : inline;
	color : white;
	padding-left: 10px;
}
ul
{
	background-color : black;
	padding : 15px;
	width : 100%;
	margin-bottom: 0px ;
}
.container {
  position: relative;
  text-align: center;
  color: white;
}
/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}